.searchBarContainer {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: 6px;
    width: 100%;

}


.SearchInputContainer {
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    position: relative;
    padding: 2px 15px;
}

.searchInput::placeholder {
    color: #bebebe;
    transition: all 250ms ease-in-out;
}

.searchInput {
    background-color: #fafafa;
    margin-left: 4px;
}

.closeIcon {
    color: #bebebe;
    vertical-align: middle;
    transition: all 200ms ease-in-out;
}

.LineSeperator {
    display: flex;
    min-width: 100%;
    min-height: 2px;
    background-color: #d8d8d878;
}

.SearchContent {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 1em;
    overflow-y: auto;
}

.LoadingWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.WarningMessage {
    color: #a1a1a1;
    font-size: 14px;
    display: flex;
    align-self: center;
    justify-self: center;
}